body{
    color:rgb(51, 43, 109);
    background: rgb(38, 30, 65);
    margin: 0px;
}

header {
border-bottom: solid 20px rgb(17, 19, 62);
padding: 40px;
front-size: 45px;
color:rgb(255, 0, 60);
background: rgb(3, 2, 16)
}