body{
    color:rgb(197, 191, 241);
    background: rgb(46, 22, 125);
    margin: 20px;
    font-family: "Bitcount Grid Double", system-ui;
}

header {
border-bottom: solid 20px rgb(21, 24, 84);
padding: 40px;
font-size: 60px;
color:rgb(255, 0, 60);
background: rgb(9, 4, 62)
}
section {
    background: rgb(62, 69, 131);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
    h1{
        font-size: 40px;
    }
    p{
        font-size: 20px;
    }