body{
    color:rgb(120, 110, 200);
    background: rgb(46, 22, 125);
    margin: 20px;
}

header {
border-bottom: solid 20px rgb(17, 19, 62);
padding: 40px;
front-size: 45px;
color:rgb(255, 0, 60);
background: rgb(9, 4, 62)
}